* {
    margin: 0;
    padding: 0;
}


body {
    text-align: center;
}


/* Feel free to remove these styles or customise in your own stylesheet 👍  */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.backgroundColor {
    color: rgb (246, 246, 246);
    width: 0%;

}


.mainContainer {
    display: flex;
    text-align: center;
    width: 100%;
    /* border: 1px;
    border-style: solid; */
}

.mainHeading {
    font-size: 40px;
    text-align: left;
}

.mainText {
    font-size: 16px;
    color: darkgray;
    padding-top: 50px;
    width: 400px;
    text-align: left;
    padding-bottom: 50px;
}

.mainButton {
    width: 110px;
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid black;
}

.mainButton a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.leftColumn {
    width: 50%;
    padding-top: 120px;
    padding-left: 100px;

}

.rightColumn {
    width: 50%;
    padding-top: 50px;

}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    /* color: white; */
    font-family: "Poppins", sans-serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: #FAFAFA;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 8%;
    padding-top: 10px;
}

#logo a {
    color: black;
}

#topLinks {
    display: flex;
    /* justify-content: left; */
    align-items: left;
    width: 80%;
}

#rightLinks {
    display: block;
    /* justify-content: left; */
    align-items: right;
    width: 12%;
    margin-top: 10px;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: white;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#login,
#signup {
    border-radius: 5px;
    padding: 5px 8px;
}

#login {
    /* border: 1px solid black; */
}

#signup {
    border: 1px solid black;
}

#signup a {
    color: black;
}

#login a {
    color: black;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: darkgrey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #FAFAFA;
}

.dropdown-content {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content-span {
    padding-left: 5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.test {
    font-size: 16px;
    border: none;
    outline: none;
    color: darkgrey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.test a {
    float: none;
    color: darkgrey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.bottomStyle {

    text-align: left;
    width: 500px;
    padding-top: 100px;
}